USE [Sample]
GO
/****** Object:  Table [dbo].[AGENTS]    Script Date: 2019-01-31 오후 1:08:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AGENTS](
	[AGENT_CODE] [char](6) NOT NULL,
	[AGENT_NAME] [char](40) NULL,
	[WORKING_AREA] [char](35) NULL,
	[COMMISSION] [decimal](10, 2) NULL,
	[PHONE_NO] [char](15) NULL,
	[COUNTRY] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[AGENT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 2019-01-31 오후 1:08:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[CUST_CODE] [varchar](6) NOT NULL,
	[CUST_NAME] [varchar](40) NOT NULL,
	[CUST_CITY] [char](35) NULL,
	[WORKING_AREA] [varchar](35) NOT NULL,
	[CUST_COUNTRY] [varchar](20) NOT NULL,
	[GRADE] [decimal](18, 0) NULL,
	[OPENING_AMT] [decimal](12, 2) NOT NULL,
	[RECEIVE_AMT] [decimal](12, 2) NOT NULL,
	[PAYMENT_AMT] [decimal](12, 2) NOT NULL,
	[OUTSTANDING_AMT] [decimal](12, 2) NOT NULL,
	[PHONE_NO] [varchar](17) NOT NULL,
	[AGENT_CODE] [char](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CUST_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 2019-01-31 오후 1:08:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ORDERS](
	[ORD_NUM] [decimal](6, 0) NOT NULL,
	[ORD_AMOUNT] [decimal](12, 2) NOT NULL,
	[ADVANCE_AMOUNT] [decimal](12, 2) NOT NULL,
	[ORD_DATE] [date] NOT NULL,
	[CUST_CODE] [varchar](6) NOT NULL,
	[AGENT_CODE] [char](6) NOT NULL,
	[ORD_DESCRIPTION] [varchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ORD_NUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AGENTS] ([AGENT_CODE], [AGENT_NAME], [WORKING_AREA], [COMMISSION], [PHONE_NO], [COUNTRY]) VALUES (N'A001  ', N'Subbarao                                ', N'Bangalore                          ', CAST(0.14 AS Decimal(10, 2)), N'077-12346674   ', N'')
INSERT [dbo].[AGENTS] ([AGENT_CODE], [AGENT_NAME], [WORKING_AREA], [COMMISSION], [PHONE_NO], [COUNTRY]) VALUES (N'A002  ', N'Mukesh                                  ', N'Mumbai                             ', CAST(0.11 AS Decimal(10, 2)), N'029-12358964   ', N'')
INSERT [dbo].[AGENTS] ([AGENT_CODE], [AGENT_NAME], [WORKING_AREA], [COMMISSION], [PHONE_NO], [COUNTRY]) VALUES (N'A003  ', N'Alex                                    ', N'London                             ', CAST(0.13 AS Decimal(10, 2)), N'075-12458969   ', N'')
INSERT [dbo].[CUSTOMER] ([CUST_CODE], [CUST_NAME], [CUST_CITY], [WORKING_AREA], [CUST_COUNTRY], [GRADE], [OPENING_AMT], [RECEIVE_AMT], [PAYMENT_AMT], [OUTSTANDING_AMT], [PHONE_NO], [AGENT_CODE]) VALUES (N'C00001', N'Micheal', N'New York                           ', N'New York', N'USA', CAST(2 AS Decimal(18, 0)), CAST(3000.00 AS Decimal(12, 2)), CAST(5000.00 AS Decimal(12, 2)), CAST(2000.00 AS Decimal(12, 2)), CAST(6000.00 AS Decimal(12, 2)), N'CCCCCCC', N'A008  ')
INSERT [dbo].[CUSTOMER] ([CUST_CODE], [CUST_NAME], [CUST_CITY], [WORKING_AREA], [CUST_COUNTRY], [GRADE], [OPENING_AMT], [RECEIVE_AMT], [PAYMENT_AMT], [OUTSTANDING_AMT], [PHONE_NO], [AGENT_CODE]) VALUES (N'C00002', N'Bolt', N'New York                           ', N'New York', N'USA', CAST(3 AS Decimal(18, 0)), CAST(5000.00 AS Decimal(12, 2)), CAST(7000.00 AS Decimal(12, 2)), CAST(9000.00 AS Decimal(12, 2)), CAST(3000.00 AS Decimal(12, 2)), N'DDNRDRH', N'A008  ')
INSERT [dbo].[CUSTOMER] ([CUST_CODE], [CUST_NAME], [CUST_CITY], [WORKING_AREA], [CUST_COUNTRY], [GRADE], [OPENING_AMT], [RECEIVE_AMT], [PAYMENT_AMT], [OUTSTANDING_AMT], [PHONE_NO], [AGENT_CODE]) VALUES (N'C00003', N'Martin', N'Torento                            ', N'Torento', N'Canada', CAST(2 AS Decimal(18, 0)), CAST(8000.00 AS Decimal(12, 2)), CAST(7000.00 AS Decimal(12, 2)), CAST(7000.00 AS Decimal(12, 2)), CAST(8000.00 AS Decimal(12, 2)), N'MJYURFD', N'A004  ')
INSERT [dbo].[ORDERS] ([ORD_NUM], [ORD_AMOUNT], [ADVANCE_AMOUNT], [ORD_DATE], [CUST_CODE], [AGENT_CODE], [ORD_DESCRIPTION]) VALUES (CAST(200100 AS Decimal(6, 0)), CAST(1000.00 AS Decimal(12, 2)), CAST(600.00 AS Decimal(12, 2)), CAST(N'2008-08-01' AS Date), N'C00013', N'A003  ', N'SOD')
INSERT [dbo].[ORDERS] ([ORD_NUM], [ORD_AMOUNT], [ADVANCE_AMOUNT], [ORD_DATE], [CUST_CODE], [AGENT_CODE], [ORD_DESCRIPTION]) VALUES (CAST(200101 AS Decimal(6, 0)), CAST(3000.00 AS Decimal(12, 2)), CAST(1000.00 AS Decimal(12, 2)), CAST(N'2008-07-15' AS Date), N'C00001', N'A008  ', N'SOD')
INSERT [dbo].[ORDERS] ([ORD_NUM], [ORD_AMOUNT], [ADVANCE_AMOUNT], [ORD_DATE], [CUST_CODE], [AGENT_CODE], [ORD_DESCRIPTION]) VALUES (CAST(200102 AS Decimal(6, 0)), CAST(2000.00 AS Decimal(12, 2)), CAST(300.00 AS Decimal(12, 2)), CAST(N'2008-05-25' AS Date), N'C00012', N'A012  ', N'SOD')
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD FOREIGN KEY([AGENT_CODE])
REFERENCES [dbo].[AGENTS] ([AGENT_CODE])
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD FOREIGN KEY([AGENT_CODE])
REFERENCES [dbo].[AGENTS] ([AGENT_CODE])
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD FOREIGN KEY([CUST_CODE])
REFERENCES [dbo].[CUSTOMER] ([CUST_CODE])
GO
