USE [VideoShop]
GO
/****** Object:  Table [dbo].[VS_CUSTOMER]    Script Date: 2019-02-13 오후 2:11:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VS_CUSTOMER](
	[CUST_ID] [char](5) NOT NULL,
	[NAME] [char](10) NOT NULL,
	[PHONE] [char](15) NOT NULL,
	[ADDRESS] [char](30) NOT NULL,
	[SS_NO] [char](14) NOT NULL,
 CONSTRAINT [PF_VSCUSTOMER_CUSTID] PRIMARY KEY CLUSTERED 
(
	[CUST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VS_RENT]    Script Date: 2019-02-13 오후 2:11:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VS_RENT](
	[CUST_ID] [char](5) NOT NULL,
	[TAPE_NO] [char](5) NOT NULL,
	[RENT_DATE] [datetime] NOT NULL,
	[DUE_DATE] [datetime] NULL,
	[RETURN_FLAG] [char](1) NULL,
 CONSTRAINT [PK_VSRENT_IDNODATE] PRIMARY KEY CLUSTERED 
(
	[CUST_ID] ASC,
	[TAPE_NO] ASC,
	[RENT_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VS_SORT]    Script Date: 2019-02-13 오후 2:11:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VS_SORT](
	[CODE] [char](2) NOT NULL,
	[NAME] [char](15) NOT NULL,
 CONSTRAINT [PK_VSSORT_CODE] PRIMARY KEY CLUSTERED 
(
	[CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VS_TAPE]    Script Date: 2019-02-13 오후 2:11:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VS_TAPE](
	[TAPE_NO] [char](5) NOT NULL,
	[NAME] [char](20) NOT NULL,
	[SORT_CODE] [char](2) NULL,
	[PRICE] [numeric](4, 0) NOT NULL,
	[DISTRIBUTOR] [char](20) NOT NULL,
	[DIST_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_VSTAPE_TAPENO] PRIMARY KEY CLUSTERED 
(
	[TAPE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[VS_CUSTOMER] ([CUST_ID], [NAME], [PHONE], [ADDRESS], [SS_NO]) VALUES (N'10001', N'홍길동    ', N'345-1432       ', N'인천광역시 효성1동            ', N'701113-1270616')
INSERT [dbo].[VS_CUSTOMER] ([CUST_ID], [NAME], [PHONE], [ADDRESS], [SS_NO]) VALUES (N'10002', N'영화광    ', N'445-2432       ', N'인천광역시 효성1동            ', N'721002-1470618')
INSERT [dbo].[VS_CUSTOMER] ([CUST_ID], [NAME], [PHONE], [ADDRESS], [SS_NO]) VALUES (N'10003', N'강명훈    ', N'532-3442       ', N'인천광역시 효성2동            ', N'731113-4410626')
INSERT [dbo].[VS_RENT] ([CUST_ID], [TAPE_NO], [RENT_DATE], [DUE_DATE], [RETURN_FLAG]) VALUES (N'10001', N'10000', CAST(N'1997-01-04 00:00:00.000' AS DateTime), CAST(N'1997-01-06 00:00:00.000' AS DateTime), N'Y')
INSERT [dbo].[VS_RENT] ([CUST_ID], [TAPE_NO], [RENT_DATE], [DUE_DATE], [RETURN_FLAG]) VALUES (N'10001', N'10000', CAST(N'1997-12-18 00:00:00.000' AS DateTime), CAST(N'1997-12-18 00:00:00.000' AS DateTime), N'N')
INSERT [dbo].[VS_RENT] ([CUST_ID], [TAPE_NO], [RENT_DATE], [DUE_DATE], [RETURN_FLAG]) VALUES (N'10001', N'15000', CAST(N'1997-02-05 00:00:00.000' AS DateTime), CAST(N'1997-02-07 00:00:00.000' AS DateTime), N'Y')
INSERT [dbo].[VS_SORT] ([CODE], [NAME]) VALUES (N'01', N'액션물         ')
INSERT [dbo].[VS_SORT] ([CODE], [NAME]) VALUES (N'02', N'애정물         ')
INSERT [dbo].[VS_SORT] ([CODE], [NAME]) VALUES (N'03', N'코메디         ')
INSERT [dbo].[VS_TAPE] ([TAPE_NO], [NAME], [SORT_CODE], [PRICE], [DISTRIBUTOR], [DIST_DATE]) VALUES (N'10000', N'영웅본색            ', N'01', CAST(1000 AS Numeric(4, 0)), N'중앙프로덕션        ', CAST(N'1994-02-04 00:00:00.000' AS DateTime))
INSERT [dbo].[VS_TAPE] ([TAPE_NO], [NAME], [SORT_CODE], [PRICE], [DISTRIBUTOR], [DIST_DATE]) VALUES (N'15000', N'나인하프위크        ', N'02', CAST(1000 AS Numeric(4, 0)), N'우일프로덕션        ', CAST(N'1994-03-03 00:00:00.000' AS DateTime))
INSERT [dbo].[VS_TAPE] ([TAPE_NO], [NAME], [SORT_CODE], [PRICE], [DISTRIBUTOR], [DIST_DATE]) VALUES (N'20000', N'영웅본색2           ', N'01', CAST(1000 AS Numeric(4, 0)), N'중앙프로덕션        ', CAST(N'1995-04-05 00:00:00.000' AS DateTime))
ALTER TABLE [dbo].[VS_RENT] ADD  DEFAULT ('N') FOR [RETURN_FLAG]
GO
ALTER TABLE [dbo].[VS_RENT]  WITH CHECK ADD  CONSTRAINT [FK_VSRENT_CUSTID] FOREIGN KEY([CUST_ID])
REFERENCES [dbo].[VS_CUSTOMER] ([CUST_ID])
GO
ALTER TABLE [dbo].[VS_RENT] CHECK CONSTRAINT [FK_VSRENT_CUSTID]
GO
ALTER TABLE [dbo].[VS_RENT]  WITH CHECK ADD  CONSTRAINT [FK_VSRENT_TAPENO] FOREIGN KEY([TAPE_NO])
REFERENCES [dbo].[VS_TAPE] ([TAPE_NO])
GO
ALTER TABLE [dbo].[VS_RENT] CHECK CONSTRAINT [FK_VSRENT_TAPENO]
GO
ALTER TABLE [dbo].[VS_TAPE]  WITH CHECK ADD  CONSTRAINT [FK_VSTAPE_SORTCODE] FOREIGN KEY([SORT_CODE])
REFERENCES [dbo].[VS_SORT] ([CODE])
GO
ALTER TABLE [dbo].[VS_TAPE] CHECK CONSTRAINT [FK_VSTAPE_SORTCODE]
GO
